<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="index :: head"></head>
	<meta charset="ISO-8859-1">
	<title></title>
</head>
<body>
	<div th:replace="index :: menu"></div>
	<div th:replace="index :: container"></div>

	<main class="main-container-wk">
		<div class="container-fluid padding-none">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0 text-primary">
							<i class="fa-regular fa-rectangle-list card_header_icon"></i>
							<h5 class="text-pr text-primary">C&aacute;talogo de Etapas</h5>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive p-0">
								<table
									class="table align-items-center justify-content-center mb-0 table-striped table-hover">
									<thead>
										<tr>
											<th class="text-uppercase text-center text-dark fs-6 font-weight-bolder "></th>
											<th class="text-uppercase text-center text-dark fs-6 font-weight-bolder  ps-2">Folio</th>
											<th class="text-uppercase text-center text-dark fs-6 font-weight-bolder  ps-2">Validaci&oacute;n</th>
											<th class="text-uppercase text-center text-dark fs-6 font-weight-bolder  ps-2">Gesti&oacute;n</th>
											<th class="text-uppercase text-center text-dark fs-6 font-weight-bolder  ps-2">Acompa&Ntilde;a</th>
											<th class="text-uppercase text-center text-dark fs-6 font-weight-bolder  ps-2">Vinculaci&oacute;n</th>
											<th class="text-uppercase text-center text-dark fs-6 font-weight-bolder  ps-2">Suma</th>
											<th class="text-uppercase text-center text-dark fs-6 font-weight-bolder text-center ps-2">Estado</th>
										</tr>
									</thead>
									<tbody>
										<tr data-toggle="collapse" data-target="#contNetflix" class="accordion-toggle collapsed" aria-expanded="true">
											<td class="expand-button">
												<span class="text-xg font-weight-bold ps-5">Netflix</span>
											</td>
											<td>
												<p class="text-sg font-weight-bold mb-0"></p>
											</td>
											<td class="text-center"><span class="text-xg font-weight-bold">1</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">0</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">2</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">4</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">7 ventas</span></td>
											<td class="align-middle text-center">
												<div
													class="d-flex align-items-center justify-content-center">
													<span class="me-2 text-xg font-weight-bold">60%</span>
													<div>
														<div class="progress">
															<div class="progress-bar bg-gradient-info"
																role="progressbar" aria-valuenow="60" aria-valuemin="0"
																aria-valuemax="100" style="width: 60%;"></div>
														</div>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
									<tbody id="contNetflix" class="accordian-body collapse">
										<tr>
											<td>
												<span class="text-xg font-weight-bold"></span>
											</td>
											<td class="text-center"><span class="text-xg font-weight-bold">00183456</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Completo</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Completo</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">hexagono</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Espera</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold"></span></td>
											<td class="text-center"><span class="text-xg font-weight-bold"></span></td>
										</tr>
										<tr>
											<td>
												<span class="text-xg font-weight-bold"></span>
											</td>
											<td class="text-center"><span class="text-xg font-weight-bold">00183456</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Completo</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Completo</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">hexagono</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Espera</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold"></span></td>
											<td class="text-center"><span class="text-xg font-weight-bold"></span></td>
										</tr>
										<tr>
											<td>
												<span class="text-xg font-weight-bold"></span>
											</td>
											<td class="text-center"><span class="text-xg font-weight-bold">00183456</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Completo</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Completo</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">hexagono</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold">Espera</span></td>
											<td class="text-center"><span class="text-xg font-weight-bold"></span></td>
											<td class="text-center"><span class="text-xg font-weight-bold"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
</body>
</html>