<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="index :: head"></head>
	<meta charset="ISO-8859-1">
	<title></title>
</head>
<body>
	<div th:replace="index :: menu"></div>
	<div th:replace="index :: container"></div>

	<main class="main-container-wk">
		<div class="container-fluid padding-none">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0">
							<i class="fa-regular fa-rectangle-list card_header_icon text-primary"></i>
							<h5 class="text-pr text-primary tncb s6">C&aacute;talogo de Etapas</h5>
						</div>
						<div class="card-body p-4">
							<div class="table-responsive">
								<table
									class="table align-items-center justify-content-center mb-0 table-striped table-bordered">
									<thead>
										<tr>
											<th width="5px"></th>
											<th class="text-uppercase tncb s4 text-primary ">Clave</th>
											<th class="text-uppercase text-primary tncb s4 ps-2">Descripci&oacute;n</th>
											<th class="text-uppercase text-primary tncb s4 ps-2"></th>
											<th class="text-uppercase text-primary tncb s4 ps-2"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${list.size() == 0}">
											<td colspan="5" align="center"><span class="tncb s3">- No se encontraron registros -</span></td>
										</tr>
										<tr th:if="${list.size() > 0}" th:each="o, itr: ${list}">
											<td><span class="text-xg tnrr s2" th:text="${count}"></span></td>
											<td><span class="text-xg tnrr s2" th:text="${o.clave}"></span></td>
											<td><span class="text-xg tnrr s2" th:text="${o.descripcion}"></span></td>
											<td><img src="./resources/img/edit.svg" width="20px" /></td>
											<td><img src="./resources/img/delete.svg" width="20px" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>