<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="index :: head"></head>
	<meta charset="ISO-8859-1">
	<title></title>
</head>
<body>
	<div th:replace="index :: menu"></div>
	<div th:replace="index :: container"></div>

	<main class="main-container-wk">
		<div class="container-fluid padding-none container-static">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0 text-primary">
							<i class="fa-regular fa-rectangle-list card_header_icon"></i>
							<h5 class="text-pr text-primary tncb s6">Cat&aacute;logo de Etapas</h5>
							
							<div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-info m-0"
									data-bs-toggle="modal" data-bs-target="#staticBackdrop">
									+</button>
							</div>
						</div>
						<div class="card-body p-4">
							<div class="table-responsive">
								<table
									class="table align-items-center justify-content-center mb-0 table-striped table-bordered">
									<thead>
										<tr>
											<th width="5px"></th>
											<th class="text-uppercase tncb s2 text-primary ">Clave</th>
											<th class="text-uppercase text-primary tncb s2 ps-2">Descripci&oacute;n</th>
											<th class="text-uppercase text-primary ps-2" width="50px"></th>
											<th class="text-uppercase text-primary ps-2" width="50px"></th>
											<th class="text-uppercase text-primary ps-2" width="50px"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${list.size() == 0}">
											<td colspan="6" align="center"><span class="tncb s3">- No se encontraron registros -</span></td>
										</tr>
										<tr th:if="${list.size() > 0}" th:each="o, itr: ${list}">
											<td><span class="text-xg tnrr s1" th:text="${itr.count}"></span></td>
											<td><span class="text-xg tnrr s1" th:text="${o.clave}"></span></td>
											<td><span class="text-xg tnrr s1" th:text="${o.descripcion}"></span></td>
											<td align="center">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox"
												role="switch" id="flexSwitchCheckDefault"></div>
											</td>
											<td align="center"><img src="./resources/img/edit.svg" width="20px" /></td>
											<td align="center"><img src="./resources/img/delete.svg" width="20px" /></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="cont-paginador">
							<ul class="page">
							    <li class="page__btn cursor-pointer"><i class="fa-solid fa-chevron-left"></i></li>
							    <li class="page__btn cursor-pointer"><i class="fa-solid fa-angles-left"></i></i></li>
							    <li class="page__numbers active"> 1</li>
							    <li class="page__btn cursor-pointer"><i class="fa-solid fa-angles-right"></i></i></li>
							    <li class="page__btn cursor-pointer"><i class="fa-solid fa-chevron-right"></i></li>
							  </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-pr text-primary tncb s4" id="staticBackdropLabel">Nuevo Registro</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row g-2">
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label tncb s1">Clave</label>
							<input type="text" class="form-control" id="clave">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label tncb s1">Descripci&oacute;n</label>
							<textarea class="form-control" id="descripcion" rows="3"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn btn-danger"
						data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>