<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="index :: head"></head>
	<meta charset="ISO-8859-1">
	<title></title>
</head>
<body>
	<div th:replace="index :: menu"></div>
	<div th:replace="index :: container"></div>

	<main class="main-container-wk">
		<div class="container-fluid padding-none">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0">
							<i class="fa-regular fa-rectangle-list card_header_icon text-primary"></i>
							<h5 class="text-pr text-primary tncb s6">Salud del Sistema</h5>
							<span class="text-date text-dark"></span>
						</div>
						<div class="card-body p-4">
							<div class="row d-flex justify-content-center">
								<div class="border box-info-st border-left border-left-success p-3 m-3 col-1 text-center">
									<span class="text-xg font-weight-bold text">VALIDACI&Oacute;N</span>
									<span class="text-xg font-weight-bold numeric">00</span>
								</div>
								<div
									class="border box-info-st border-left border-left-danger p-3 m-3 col-1 text-center">
									<span class="text-xg font-weight-bold text-dark text">GESTI&Oacute;N</span>
									<span class="text-xg font-weight-bold text-dark numeric">00</span>
								</div>
								<div
									class="border box-info-st border-left border-left-success p-3 m-3 col-1 text-center">
									<span class="text-xg font-weight-bold text">ACOMPANA</span>
									<span class="text-xg font-weight-bold numeric">00</span>
								</div>
								<div
									class="border box-info-st border-left border-left-warning p-3 m-3 col-1 text-center">
									<span class="text-xg font-weight-bold text">VINCULACI&Oacute;N</span>
									<span class="text-xg font-weight-bold numeric">00</span>
								</div>
								<div
									class="border box-info-st border-left border-left-success p-3 m-3 col-1 text-center">
									<span class="text-xg font-weight-bold text">T&Eacute;RMINO</span>
									<span class="text-xg font-weight-bold numeric">00</span>
								</div>
							</div>
							<p class="text-center text-danger fs-5">Detalle de la tabla de datos de Gesti&oacute;n pues reporta un aumento anormal de casos negativos que impactan los resultados.</p>
							<hr class="hr-danger m-0"/>
							<div class="table-responsive">
								<table 
									class="table align-items-center justify-content-center mb-0 table-striped table-bordered">
									<thead>
										<tr>
											<th width="5px"></th>
											<th class="text-uppercase text-primary fs-6 font-weight-bolder ">Folio Intercambio</th>
											<th class="text-uppercase text-primary fs-6 font-weight-bolder  ps-2">Folio Solicitud</th>
											<th class="text-uppercase text-primary fs-6 font-weight-bolder  ps-2">Streaming</th>
											<th class="text-uppercase text-primary fs-6 font-weight-bolder text-center ps-2">Producto</th>
											<th class="text-uppercase text-primary fs-6 font-weight-bolder  ps-2">Movimiento</th>
											<th class="text-uppercase text-primary fs-6 font-weight-bolder  ps-2">Estatus</th>
											<th class="text-uppercase text-primary fs-6 font-weight-bolder text-center ps-2">Motivo</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span class="text-xg font-weight-bold">01</span></td>
											<td><span class="text-xg font-weight-bold">00203</span></td>
											<td><span class="text-xg font-weight-bold">00633</span></td>
											<td><span class="text-xg font-weight-bold">AMAZON</span></td>
											<td><span class="text-xg font-weight-bold">AMABN</span></td>
											<td><span class="text-xg font-weight-bold">Alta</span></td>
											<td><span class="text-xg font-weight-bold">Pendiente</span></td>
											<td><span class="text-xg font-weight-bold">En espera de Consumo de G3</span></td>
										</tr>
										<tr>
											<td><span class="text-xg font-weight-bold">02</span></td>
											<td><span class="text-xg font-weight-bold">00203</span></td>
											<td><span class="text-xg font-weight-bold">00633</span></td>
											<td><span class="text-xg font-weight-bold">AMAZON</span></td>
											<td><span class="text-xg font-weight-bold">AMABN</span></td>
											<td><span class="text-xg font-weight-bold">Alta</span></td>
											<td><span class="text-xg font-weight-bold">Pendiente</span></td>
											<td><span class="text-xg font-weight-bold">En espera de Consumo de G3</span></td>
										</tr>
										<tr>
											<td><span class="text-xg font-weight-bold">03</span></td>
											<td><span class="text-xg font-weight-bold">00203</span></td>
											<td><span class="text-xg font-weight-bold">00633</span></td>
											<td><span class="text-xg font-weight-bold">AMAZON</span></td>
											<td><span class="text-xg font-weight-bold">AMABN</span></td>
											<td><span class="text-xg font-weight-bold">Alta</span></td>
											<td><span class="text-xg font-weight-bold">Pendiente</span></td>
											<td><span class="text-xg font-weight-bold">En espera de Consumo de G3</span></td>
										</tr>
										<tr>
											<td><span class="text-xg font-weight-bold">04</span></td>
											<td><span class="text-xg font-weight-bold">00203</span></td>
											<td><span class="text-xg font-weight-bold">00633</span></td>
											<td><span class="text-xg font-weight-bold">AMAZON</span></td>
											<td><span class="text-xg font-weight-bold">AMABN</span></td>
											<td><span class="text-xg font-weight-bold">Alta</span></td>
											<td><span class="text-xg font-weight-bold">Pendiente</span></td>
											<td><span class="text-xg font-weight-bold">En espera de Consumo de G3</span></td>
										</tr>
										<tr>
											<td><span class="text-xg font-weight-bold">05</span></td>
											<td><span class="text-xg font-weight-bold">00203</span></td>
											<td><span class="text-xg font-weight-bold">00633</span></td>
											<td><span class="text-xg font-weight-bold">AMAZON</span></td>
											<td><span class="text-xg font-weight-bold">AMABN</span></td>
											<td><span class="text-xg font-weight-bold">Alta</span></td>
											<td><span class="text-xg font-weight-bold">Pendiente</span></td>
											<td><span class="text-xg font-weight-bold">En espera de Consumo de G3</span></td>
										</tr>										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>