<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="index :: head"></head>
	<meta charset="ISO-8859-1">
	<title></title>
</head>
<body>
	<div th:replace="index :: menu"></div>
	<div th:replace="index :: container"></div>

	<main class="main-container-wk">
		<div class="container-fluid padding-none container-static">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0 text-primary">
							<i class="fa-regular fa-rectangle-list card_header_icon"></i>
							<h5 class="text-pr text-primary tncb s6">Visor de Solicitudes</h5>
						</div>
						<div class="input-group mb-3 card-header pb-0">
									<input type="text" class="form-control" name="search" id="search" />
									<button type="button" class="btn btn-primary" onclick="retrieveList($('#search').val());" style="margin:2px;">
										<i class="fas fa-search"></i>
									</button>
							
						</div>
						<div id="resultList" th:fragment="data" class="card-body p-4">
							<div class="table-responsive">
								<table class="table align-items-center justify-content-center mb-0 table-striped table-bordered table-responsive">
									<thead>
										<tr>
											<th width="15px"></th>
											<th class="text-uppercase text-primary ps-2">Folio Solicitud</th>
											<th class="text-uppercase text-primary ps-2">Cliente</th>
											<th class="text-uppercase text-primary ps-2 text-center">Usuario</th>
											<th class="text-uppercase text-primary ps-2 text-center">Canal de Venta</th>
											<th class="text-uppercase text-primary ps-2 text-center">Oficina Comercial</th>
											<th class="text-uppercase text-primary ps-2 text-center">Contrataci&oacute;n</th>
											<th class="text-uppercase text-primary ps-2 text-center">Plataforma</th>
											<th class="text-uppercase text-primary ps-2 text-center">Movimiento</th>
											<th class="text-uppercase text-primary ps-2 text-center">Etapa</th>
											<th class="text-uppercase text-primary ps-2 text-center">Estatus</th>
											<th class="text-uppercase text-primary ps-2 text-center">Orden de Servicio</th>
											<th class="text-uppercase text-primary ps-2 text-center">Id Transacci&oacute;n</th>
											<th class="text-uppercase text-primary ps-2 text-center">Codigo Promocion</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${list.totalPages == 0}">
											<td colspan="12" align="center"><span class="tncb s3">- No se encontraron registros -</span></td>
										</tr>
										<tr th:if="${list.totalPages > 0}" th:each="o, itr: ${list}">
											<td><span class="text-xg tnrr s1" th:text="${itr.count}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.folioSolicitud}"></span></td>
											<td>
												<span class="text-xg tnrr s1" th:text="${o.nombre}"></span><br />
												<span class="text-xg tnrb s1" th:text="|id - ${o.idCliente}|"></span><br />
												<span class="text-xg tnrr s1" th:text="${o.correo}"></span><br />
												<span class="text-xg tnrr s1" style="color:#aa0000;" th:text="${o.telefono}"></span><br />
											</td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.usuarioReg}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.canalVenta}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.oficinaComercial}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.idContratacion}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.plataforma}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.movimiento}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.etapa}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.estatus}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.ordenServicio}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.idTransCanal}"></span></td>
											<td align="center"><span class="text-xg tnrr s1" th:text="${o.codigoPromo}"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<nav th:replace="paginator-nav :: paginator"></nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script type="text/javascript" th:inline="javascript">
		function retrieveList(filtro){
			if(filtro == ''){
				show.loading('show');
				window.location.reload();
			}else{
				$('#resultList').load('/search/'+filtro, function() {
					show.loading('hide');
				});
				show.loading('show');
			}
		}
	</script>
</body>
</html>