<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="index :: head"></head>
<meta charset="ISO-8859-1">
<title></title>

</head>
<body>
	<!-- Resources -->
	<script src="./resources/js/amcharts_5.2.23/index.js"></script>
	<script src="./resources/js/amcharts_5.2.23/xy.js"></script>
	<script src="./resources/js/amcharts_5.2.23/themes/Animated.js"></script>
	
	<div th:replace="index :: menu"></div>
	<div th:replace="index :: container"></div>
	<main class="main-container-wk">
		<div class="container-fluid padding-none">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0 text-primary">
							<i class="fa-regular fa-rectangle-list card_header_icon"></i>
							<h5 class="text-pr text-primary">Compatrativos de ventas en
								servicios de Streaming</h5>
							
							<div class="btn-group" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-info m-0"
									data-bs-toggle="modal" data-bs-target="#staticBackdrop">
									+</button>
							</div>
						</div>
						<div class="card-body p-4">
							<!-- Chart code -->
							<script src="./resources/js/charts/charts.js"></script>

							<!-- HTML -->
							<div class="row">
								<div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
									<div id="chartdiv"></div>
								</div>
								<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-center px-5">
									<br />
									<h3 class="h5">Selecciona fechas para comparar</h3>
									<div class="input-group">
										<div class="w-100">
											<div class="form-group">
												<div class="input-group date" id="id_0">
													<span class="input-group-text">De</span> <input type="text"
														value="" class="form-control px-3"
														placeholder="MM/DD/YYYY hh:mm:ss" required />
												</div>
												<hr />
												<div class="input-group date" id="id_1">
													<span class="input-group-text">Hasta</span> <input
														type="text" value="" class="form-control px-3"
														placeholder="MM/DD/YYYY hh:mm:ss" required />
												</div>
											</div>
										</div>
									</div>
									<nav class="navbar  bg-info">
										<div class="container-fluid justify-content-center">
											<a class="navbar-brand text-white fs-5 text-date-chart" href="#">del 01 de Enero al 31 de Diciembre 2022</a>
										</div>
									</nav>
									<button type="button" class="btn btn-dark mt-3">APLICAR</button>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0 text-primary">
							<i class="fa-regular fa-rectangle-list card_header_icon"></i>
							<h5 class="text-pr text-primary">Resumen de ventas y operaci&oacute;n</h5>
						</div>
						<div class="card-body p-4">
							<div class="row">
								<div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
									<table
										class="table align-items-center justify-content-center mb-0 table-striped table-bordered">
										<thead>
											<tr>
												<th class="text-uppercase text-dark fs-6 font-weight-bolder ps-2">Streaming</th>
												<th class="text-uppercase text-dark fs-6 font-weight-bolder ps-2">Venta</th>
												<th class="text-uppercase text-dark fs-6 font-weight-bolder ps-2">Pendiente</th>
												<th class="text-uppercase text-dark fs-6 font-weight-bolder ps-2">Canceladas</th>
												<th class="text-uppercase text-dark fs-6 font-weight-bolder ps-2">Promoci&oacute;n</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><span class="text-xg font-weight-bold">NETFLIX</span></td>
												<td><span class="text-xg font-weight-bold">20,623</span></td>
												<td><span class="text-xg font-weight-bold">10,201 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">120 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">8,600 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
											</tr>
											<tr>
												<td><span class="text-xg font-weight-bold">Disney +</span></td>
												<td><span class="text-xg font-weight-bold">20,623</span></td>
												<td><span class="text-xg font-weight-bold">10,201 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">120 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">8,600 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
											</tr>
											<tr>
												<td><span class="text-xg font-weight-bold">Star +</span></td>
												<td><span class="text-xg font-weight-bold">20,623</span></td>
												<td><span class="text-xg font-weight-bold">10,201 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">120 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">8,600 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
											</tr>
											<tr>
												<td><span class="text-xg font-weight-bold">HBO +</span></td>
												<td><span class="text-xg font-weight-bold">20,623</span></td>
												<td><span class="text-xg font-weight-bold">10,201 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">120 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">8,600 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
											</tr>
											<tr>
												<td><span class="text-xg font-weight-bold">Prime</span></td>
												<td><span class="text-xg font-weight-bold">20,623</span></td>
												<td><span class="text-xg font-weight-bold">10,201 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">120 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">8,600 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
											</tr>
											<tr>
												<td><span class="text-xg font-weight-bold">Star tv</span></td>
												<td><span class="text-xg font-weight-bold">20,623</span></td>
												<td><span class="text-xg font-weight-bold">10,201 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">120 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">8,600 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
											</tr>
											<tr>
												<td><span class="text-xg font-weight-bold">F1</span></td>
												<td><span class="text-xg font-weight-bold">20,623</span></td>
												<td><span class="text-xg font-weight-bold">10,201 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">120 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
												<td><span class="text-xg font-weight-bold">8,600 <i class="fa-solid fa-magnifying-glass cursor-pointer text-info fs-5 ms-2"></i></span></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-center px-5">
									<br />
									<h3 class="h5">Selecciona fechas para comparar</h3>
									<div class="input-group">
										<div class="w-100">
											<div class="form-group">
												<div class="input-group date">
													<span class="input-group-text">De</span> <input type="text"
														value="" class="form-control px-3"
														placeholder="MM/DD/YYYY hh:mm:ss" required />
												</div>
												<hr />
												<div class="input-group date">
													<span class="input-group-text">Hasta</span> <input
														type="text" value="" class="form-control px-3"
														placeholder="MM/DD/YYYY hh:mm:ss" required />
												</div>
											</div>
										</div>
									</div>
									<nav class="navbar  bg-info">
										<div class="container-fluid justify-content-center">
											<a class="navbar-brand text-white fs-5 text-date-chart" href="#">del 01 de Enero al 31 de Diciembre 2022</a>
										</div>
									</nav>
									<button type="button" class="btn btn-dark mt-3">APLICAR</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0 text-primary">
							<i class="fa-regular fa-rectangle-list card_header_icon"></i>
							<h5 class="text-pr text-primary">Comportamiento en las ventas por Streaming</h5>
						</div>
						<div class="card-body p-4">
							
							
							<!-- Chart code -->
							<script src="./resources/js/charts/controlChart.js"></script>

							<!-- HTML -->
							<div class="row">
								<div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
									<div id="controlChartdiv"></div>
								</div>
								<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-center px-5">
									<br />
									<h3 class="h5">Selecciona fechas para comparar</h3>
									<div class="input-group">
										<div class="w-100">
											<div class="form-group">
												<div class="input-group date">
													<span class="input-group-text">De</span> <input type="text"
														value="" class="form-control px-3"
														placeholder="MM/DD/YYYY hh:mm:ss" required />
												</div>
												<hr />
												<div class="input-group date">
													<span class="input-group-text">Hasta</span> <input
														type="text" value="" class="form-control px-3"
														placeholder="MM/DD/YYYY hh:mm:ss" required />
												</div>
											</div>
										</div>
									</div>
									<nav class="navbar  bg-info">
										<div class="container-fluid justify-content-center">
											<a class="navbar-brand text-white fs-5 text-date-chart" href="#">del 01 de Enero al 31 de Diciembre 2022</a>
										</div>
									</nav>
									<button type="button" class="btn btn-dark mt-3">APLICAR</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</main>
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Alta</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row g-2">
						<div class="col-md">
							<div class="form-floating">
								<input type="email" class="form-control" id="floatingInputGrid"
									placeholder="name@example.com" value="mdo@example.com">
								<label for="floatingInputGrid">Email address</label>
							</div>
						</div>
						<div class="col-md">
							<div class="form-floating">
								<select class="form-select" id="floatingSelectGrid"
									aria-label="Floating label select example">
									<option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select> <label for="floatingSelectGrid">Works with selects</label>
							</div>
						</div>
					</div>
					<div class="row g-2 mt-2">
						<div class="col-md">
							<div class="form-floating mb-3">
								<input type="email" class="form-control" id="floatingInput"
									placeholder="name@example.com"> <label
									for="floatingInput">Email address</label>
							</div>
						</div>
						<div class="col-md">
							<div class="form-floating">
								<input type="password" class="form-control"
									id="floatingPassword" placeholder="Password"> <label
									for="floatingPassword">Password</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
	<SCRIPT>
		(function($) {
			"use strict";
			$('.date').datetimepicker({
				allowInputToggle : true,
				showClose : true,
				showClear : true,
				showTodayButton : true,
				format : "MM/DD/YYYY hh:mm:ss A",
				icons : {
					time : 'fa fa-clock-o',
					date : 'fa fa-calendar-o',
					up : 'fa fa-chevron-up',
					down : 'fa fa-chevron-down',
					previous : 'fa fa-chevron-left',
					next : 'fa fa-chevron-right',
					today : 'fa fa-chevron-up',
					clear : 'fa fa-trash',
					close : 'fa fa-close'
				},
			});
		})(jQuery);
	</script>
</body>
</html>