
.fade {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  @media (prefers-reduced-motion: reduce) {
    .fade {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .fade:not(.show) {
    opacity: 0; }

.collapse:not(.show) {
  display: none; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }
  @media (prefers-reduced-motion: reduce) {
    .collapsing {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative; }

.dropdown-toggle {
  white-space: nowrap; }
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent; }
  .dropdown-toggle:empty::after {
    margin-left: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }




.ftco-section {
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.datepickers {
  width: 100%; }
  .datepickers .label-control {
    font-size: 14px; }
  .datepickers .form-control {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px !important;
    border-radius: 40px;
    border: none !important;
    -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.09) !important;
    -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.09) !important;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.09) !important; }
    .datepickers .form-control:focus {
      border-radius: 40px;
      -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.14) !important;
      -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.14) !important;
      box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.14) !important; }
      
/*------------------------------------------------------------------*/
.datetimepicker-inline {
	background: #fff;
	position: absolute;
	z-index: 10;
	border-radius: 10px;
	box-shadow: 0px 0px 6px #ccc;
	top: 100%;
	left: calc(50% - 110px);
	right: 0;
	margin: auto;
	display: none;
}

.datepicker-dropdown {
	padding: 1rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
	border: #ccc;
}

.datepicker-dropdown .table-condensed {
	width: 22rem !important;
    height: 18rem !important;
}

.datepicker-dropdown .table-condensed .prev, .datepicker-dropdown .table-condensed .next
	{
	text-align: center;
}

.datepicker-dropdown .table-condensed .prev .icon-arrow-left,
	.datepicker-dropdown .table-condensed .next .icon-arrow-right {
	color: var(--color-dark);
	font-weight: 900;
	font-family: 'Font Awesome 6 Free';
	-webkit-font-smoothing: antialiased;
	display: var(- -fa-display, inline-block);
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-rendering: auto;
}

.datepicker-dropdown .table-condensed .prev .icon-arrow-left:before {
	content: "\f053";
	box-sizing: border-box;
	cursor: pointer;
}

.datepicker-dropdown .table-condensed .next .icon-arrow-right:before {
	content: "\f054";
	box-sizing: border-box;
	cursor: pointer;
}

.datepicker-dropdown .table-condensed .switch {
	cursor: pointer;
	text-align: center;
	color: var(--color-dark);
}

.datepicker-dropdown .table-condensed .day {
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.datepicker-dropdown .table-condensed .day:hover {
	background: #cccccc;
}

.datepicker-dropdown .table-condensed .day.active {
	background: var(--color-info);
	color: #fff;
}

.datepicker-dropdown .table-condensed .month, .datepicker-dropdown .table-condensed .year
	{
	padding: 0.5rem;
	font-weight: 500;
	cursor: pointer;
	text-align: center;
}

.datepicker-dropdown .table-condensed .month:hover, .datepicker-dropdown .table-condensed .year:hover
	{
	background: #cccccc;
	border-radius: 5px;
}