<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Dashboard</title>
</head>
<body >

	<div th:fragment="menu" class="g-sidenav-show bg-gray-200">
		<!-- Style - CSS -->
		<link rel="stylesheet" type="text/css" href="./resources/css/bootstrap-5.1.3/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="./resources/css/bootstrap-5.1.3/bootstrap-datetimepicker.min.css"></link>
		<link rel="stylesheet" type="text/css" href="./resources/css/date.css"></link>
		<link rel="stylesheet" type="text/css" href="./resources/css/argon-dashboard.css"></link>
		<link rel="stylesheet" type="text/css" href="./resources/assets/FontAwesome/css/fontawesome.min.css"></link>
		<link rel="stylesheet" type="text/css" href="./resources/assets/FontAwesome/css/all.min.css"></link>
		<link rel="stylesheet" type="text/css" href="./resources/css/engine.css"></link>
		<link rel="stylesheet" type="text/css" href="./resources/css/index.css"></link>
		<div
			class="min-height-300 bg-degradado-primary position-absolute w-100"
			style="z-index: -1;"></div>
		<aside
			class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 menu_s"
			id="sidenav-main">
			<div class="sidenav-header">
				<i
					class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
					aria-hidden="true" id="iconSidenav"></i> <a
					class="navbar-brand m-0" href="#" target="_blank"
					style="display: flex;"><div class="logo_tmx_sidevar"></div> </a>
					<i class="fa-solid fa-circle-xmark icon-nav-menu-close" style="display: none;"></i>
			</div>
			<hr class="horizontal dark mt-0">
			<div class="collapse navbar-collapse  w-auto "
				id="sidenav-collapse-main">
				<!-- MENU PRINCIPAL INI -->
				<ul class="navbar-nav" th:each="m: ${menu}">
					<li class="nav-item"><a class="nav-link" th:href="@{/}+${m.vista}" th:id="${m.id}">
							<div
								class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								<i class="ni fa-solid text-secondary fs-4" th:classappend="${m.icono}"></i>
							</div> <span class="nav-link-text ms-1 tncr s2 text-start text-wrap" th:text="${m.descripcion}"></span>
					</a></li>
				</ul>
				<!-- MENU PRINCIPAL FIN -->
				<!-- MENU CATALOGOS INI -->
				<ul class="navbar-nav">
					<li class="nav-item dropend">
						<a class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						href="#multiCollapseExample1" role="button" aria-expanded="false"
						aria-controls="multiCollapseExample1" id="catalogos">
							<div
								class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								<i class="ni fa-solid fa-table-list text-secondary fs-4"></i>
							</div> <span class="nav-link-text ms-1 tncr s2">Cat&aacute;logos</span>
							<i class="bi bi-chevron-down ms-auto"></i>
					</a>
						<div class="collapse multi-collapse pt-3" id="multiCollapseExample1">
							<ul id="list-group" th:each="m: ${catalogos}">
								<li class="list-group-item">
									<a class="nav-link fs-6" th:href="@{/}+${m.vista}" th:id="${m.id}"> 
										<span th:text="${m.descripcion}"></span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<!-- MENU CATALOGOS FIN -->
			</div>
		</aside>

	</div>

	<div th:fragment="container">
		<main class="main-container-layout">
			<!-- Navbar -->
			<nav
				class="alpha  navbar navbar-main mt-4 navbar-expand-lg bg-white px-0 mx-4  border-radius-xl"
				id="navbarBlur" data-scroll="false">
				<div class="container-fluid py-1 px-3 line-bottom-whites">
					<i class="fa-solid fa-bars me-3 fs-3 icon-nav-menu-burguer" style="cursor: pointer;"></i>
					<nav aria-label="breadcrumb">
						<h6 class="font-weight-bolder text-back mb-0 fs-4">M&oacute;dulo de Aprovisionamiento de Plataformas de Streaming</h6>
					</nav>
					<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
						id="navbar">
						<div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
						<ul class="navbar-nav  justify-content-end">
							<li class="nav-item d-flex px-3 align-items-center"><a id="cerrar_sesion"
								href="login"
								class="nav-link text-nav-top font-weight-bold px-0 fs-5"> <i
									class="fa fa-solid fa-right-from-bracket "></i>
							</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<style>
			.collapsing {
				-webkit-transition: height .01s ease !important;
				transition: height .01s ease !important;
			}
			</style>
			<!-- Script - JS -->
			<script src="./resources/js/libs/jquery.min.js"></script>
			<script src="./resources/js/libs/popper.js"></script>
<!-- 			<script src="./resources/js/libs/popper.min.js"></script> -->
			<script src="./resources/js/bootstrap-5.1.3/bootstrap.min.js"></script>
			<script src="./resources/js/libs/perfect-scrollbar.min.js"></script>
			<script src="./resources/js/libs/smooth-scrollbar.min.js"></script>
			<script src="./resources/js/libs/moment-with-locales.min.js"></script>
			<script src="./resources/js/bootstrap-5.1.3/bootstrap-datetimepicker.min.js"></script>
			<script src="./resources/js/bootstrap-5.1.3/bootstrap.bundle.min.js"></script>
			<script src="./resources/js/index.js"></script>
			<script>
				var win = navigator.platform.indexOf('Win') > -1;
				if (win && document.querySelector('#sidenav-scrollbar')) {
					var options = {
						damping : '0.5'
					}
					Scrollbar.init(document.querySelector('#sidenav-scrollbar'),
							options);
				}
			</script>
		</main>
	
	</div>

	
</body>


</html>